<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Park Search", root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <h3>Total Parks: 10</h3>

      <div class="park"></div>
    </ul>
  </div>
</nav>
